header{
	width: 100%;
	float: left;
}
header h1{
	display: inline;
}
nav{
	float: right;
}
section{
	float: left;
}
article{

}
figure{

}
figcaption{

}
aside{
	float: right;
}
footer{

}